<nav class="breadcrumbs-container" *ngIf="breadcrumbs.length > 0" [@fadeAnimation]>
  <ol class="breadcrumbs-list">
    <!-- Breadcrumbs dinámicos simplificados -->
    <ng-container *ngFor="let breadcrumb of breadcrumbs; let last = last; let i = index">
      <li class="breadcrumb-item" [class.active]="last" [@slideInAnimation]="{value: '', params: {delay: (i * 50) + 'ms'}}">
        <a
          [routerLink]="breadcrumb.url"
          class="breadcrumb-link"
          [class.active]="last"
          [appTooltip]="breadcrumb.url"
          tooltipPosition="bottom"
        >
          <i *ngIf="breadcrumb.icon" class="fas fa-{{getIconName(breadcrumb.icon)}} breadcrumb-icon"></i>
          <span class="breadcrumb-text">{{breadcrumb.label}}</span>
        </a>
      </li>

      <!-- Separador (excepto para el último) -->
      <li *ngIf="!last" class="breadcrumb-separator" [@slideInAnimation]="{value: '', params: {delay: (i * 50 + 25) + 'ms'}}">
        <i class="fas fa-chevron-right"></i>
      </li>
    </ng-container>
  </ol>
</nav>
