<nav class="breadcrumbs-container" *ngIf="breadcrumbs.length > 0" [@fadeAnimation]>
  <ol class="breadcrumbs-list">
    <!-- Inicio siempre presente -->
    <li class="breadcrumb-item" [@slideInAnimation]="{value: '', params: {delay: '0ms'}}">
      <a [routerLink]="['/admin/dashboard']" class="breadcrumb-link">
        <i class="fas fa-home breadcrumb-icon"></i>
        <span class="breadcrumb-text">Inicio</span>
      </a>
    </li>

    <!-- Separador -->
    <li class="breadcrumb-separator" [@slideInAnimation]="{value: '', params: {delay: '50ms'}}">
      <i class="fas fa-chevron-right"></i>
    </li>

    <!-- Breadcrumbs dinámicos -->
    <ng-container *ngFor="let breadcrumb of breadcrumbs; let last = last; let i = index">
      <li class="breadcrumb-item" [class.active]="last" [@slideInAnimation]="{value: '', params: {delay: (i * 50 + 100) + 'ms'}}">
        <a
          [routerLink]="breadcrumb.url"
          class="breadcrumb-link"
          [class.active]="last"
          [appTooltip]="breadcrumb.url"
          tooltipPosition="bottom"
        >
          <i *ngIf="breadcrumb.icon" class="fas fa-{{getIconName(breadcrumb.icon)}} breadcrumb-icon"></i>
          <span class="breadcrumb-text">{{breadcrumb.label}}</span>
        </a>
      </li>

      <!-- Separador (excepto para el último) -->
      <li *ngIf="!last" class="breadcrumb-separator" [@slideInAnimation]="{value: '', params: {delay: (i * 50 + 150) + 'ms'}}">
        <i class="fas fa-chevron-right"></i>
      </li>
    </ng-container>
  </ol>
</nav>
