<div class="user-info">
    <div class="profile-image-container">
        <ng-container *ngIf="hasProfileImage(); else defaultAvatar">
            <img [src]="userInfo().profileImage" [alt]="userInfo().username" class="profile-image">
        </ng-container>
        <ng-template #defaultAvatar>
            <div class="default-avatar">
                <i class="fas fa-user"></i>
            </div>
        </ng-template>
    </div>
    <div class="user-details">
        <span class="username">{{userInfo().username}}</span>
        <span class="cuit">{{userInfo().cuit | cuitFormat}}</span>
    </div>
</div>
