<div class="user-info">
    <div class="profile-image-container">
        <ng-container *ngIf="hasProfileImage(); else defaultAvatar">
            <img
                appLazyLoadImage
                [src]="userInfo().profileImage || 'assets/images/default-avatar.png'"
                [placeholder]="'assets/images/avatar-placeholder.png'"
                [alt]="userInfo().username"
                class="profile-image"
                [loadingClass]="'profile-image-loading'"
                [loadedClass]="'profile-image-loaded'"
                [errorClass]="'profile-image-error'">
        </ng-container>
        <ng-template #defaultAvatar>
            <div class="default-avatar">
                <i class="fas fa-user"></i>
            </div>
        </ng-template>
    </div>
    <div class="user-details">
        <span class="username">{{userInfo().username}}</span>
        <span class="cuit">{{userInfo().cuit | cuitFormat}}</span>
    </div>
</div>
