<div class="filtros-panel">
  <header>
    <h2>Filtros</h2>
    <button mat-icon-button (click)="cerrar.emit()">
      <mat-icon>close</mat-icon>
    </button>
  </header>

  <form [formGroup]="filtrosForm">
    <!-- Estado -->
    <div class="filtro-grupo">
      <h3>Estado</h3>
      <mat-button-toggle-group formControlName="estado">
        <mat-button-toggle *ngFor="let option of estadoOptions" [value]="option.value">
          <mat-icon>{{ option.icon }}</mat-icon>
          {{ option.label }}
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <!-- Periodo -->
    <div class="filtro-grupo">
      <h3>Periodo</h3>
      <mat-button-toggle-group formControlName="periodo">
        <mat-button-toggle *ngFor="let option of periodoOptions" [value]="option.value">
          <mat-icon>{{ option.icon }}</mat-icon>
          {{ option.label }}
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <!-- Dependencia -->
    <div class="filtro-grupo">
      <h3>Dependencia</h3>
      <mat-select formControlName="dependencia" placeholder="Seleccione dependencia">
        <mat-option *ngFor="let option of dependenciaOptions" [value]="option.value">
          <mat-icon>{{ option.icon }}</mat-icon>
          {{ option.label }}
        </mat-option>
      </mat-select>
    </div>

    <!-- Cargo -->
    <div class="filtro-grupo">
      <h3>Cargo</h3>
      <mat-select formControlName="cargo" placeholder="Seleccione cargo">
        <mat-option *ngFor="let option of cargoOptions" [value]="option.value">
          <mat-icon>{{ option.icon }}</mat-icon>
          {{ option.label }}
        </mat-option>
      </mat-select>
    </div>
  </form>
</div>
