@use 'variables' as *;

.main-content {
    padding: 1.5rem;
    color: $color-text-secondary;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    overflow-y: auto;

    
}

.dashboard-sections {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1.5rem;
}

@media (max-width: 1024px) {
    .dashboard-sections {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 768px) {
    .main-content {
        padding: 1rem;
    }

    .dashboard-cards {
        grid-template-columns: 1fr;
    }
}