<aside class="sidebar">
    <div class="menu-section">
        <div class="menu-title">Personal</div>
        <a href="/curriculum" class="menu-item">Curriculum Vitae</a>
        <a href="/inscripciones" class="menu-item">Mis Inscripciones</a>
    </div>
    
    <div class="menu-section">
        <div class="menu-title">Gestión</div>
        <a href="/concursos" class="menu-item">Concursos</a>
        <a href="#" class="menu-item has-submenu">Exámenes</a>
        <div class="submenu">
            <a href="/examenes/tecnico-juridico" class="menu-item">Técnico Jurídico</a>
            <a href="/examenes/tecnico-administrativo" class="menu-item">Técnico Administrativo</a>
            <a href="/examenes/servicios-auxiliares" class="menu-item">Servicios Auxiliares</a>
        </div>
        <a href="/otros" class="menu-item">Otros</a>
    </div>
</aside>