@import 'src/styles/glassmorphism-system';

.admin-layout-content {
  width: 100%;
  height: 100%;
  background-color: var(--background-primary);
  color: var(--text-primary);
}

// Estilos para tema oscuro
@media (prefers-color-scheme: dark) {
  .admin-layout-content {
    background-color: var(--background-dark);
    color: var(--text-primary);
  }
}
