<div class="navbar">
    <a href="https://defensamendoza.gob.ar/" target="_blank" rel="noopener noreferrer" 
       class="logo-container" [class.collapsed]="isSidebarCollapsed">
        <img src="/icons/favicon.png" 
             (error)="onLogoError($event)" 
             alt="Logo Ministerio Público de la Defensa"
             [@logoRotate]="logoState">
    </a>
    <h1 class="navbar-title" [class.collapsed]="isSidebarCollapsed">RRHH - MPD - CONCURSOS</h1>
    <div class="nav-right">
        <app-user-info></app-user-info>
        <button class="logout-btn" (click)="onLogout()">
            <i class="fas fa-sign-out-alt"></i>
            <span class="logout-text">Cerrar sesión</span>
        </button>
    </div>
</div>
