@use 'variables' as *;

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; 
    background: $color-background;
    height: 100%;
    padding: 0 2rem 0 0.6rem;

    .navbar-title {
        text-align: center;
        color: $color-text-secondary;
        margin: 0;
        flex-grow: 1;
        font-size: 1.5rem;
    }

    .nav-right {
        display: flex;
        align-items: center;
        gap: 1.5rem;
    }

    .logout-btn {
        padding: 0.8rem;
        background-color: $color-secondary;
        color: $color-text-secondary;
        border: none;
        border-radius: $border-radius;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        transition: $transition-default;
        
        i {
            font-size: 1.2rem;
        }

        .logout-text {
            max-width: 0;
            overflow: hidden;
            white-space: nowrap;
            transition: $transition-default;
            opacity: 0;
        }

        &:hover {
            background-color: $color-primary;
            padding: 0.8rem 1.2rem;

            .logout-text {
                max-width: 200px;
                opacity: 1;
            }
        }
    }

    .logo-container {
        position: relative;
        padding: 0.5rem;
        border-radius: $border-radius;
        transition: $transition-default;

        img {
            height: 60px;
            transition: $transition-default;
        }

        &:hover {
            background: rgba($color-primary, 0.1);
        }
    }
}

.user-info {
    display: flex;
    flex-direction: column; // Alinea el nombre y el CUIT verticalmente
    align-items: flex-end; // Alinea a la derecha
    color: #fff;
}
