<div class="activity-card glass-morphism">
  <div class="card-header">
    <h3 class="card-title">{{title}}</h3>
  </div>

  <div class="card-content">
    <ng-container *ngIf="activities && activities.length > 0; else noActivities">
      <div class="activity-list">
        <div *ngFor="let activity of activities.slice(0, maxItems)" class="activity-item">
          <div class="activity-icon" [style.background-color]="getActivityIconColor(activity.tipo) + '15'">
            <mat-icon [style.color]="getActivityIconColor(activity.tipo)" aria-hidden="true">{{getActivityIcon(activity.tipo)}}</mat-icon>
          </div>
          <div class="activity-content">
            <div class="activity-text" [innerHTML]="getActivityText(activity)"></div>
            <div class="activity-time">{{getTimeAgo(activity.fecha)}}</div>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-template #noActivities>
      <div class="no-activities">
        <mat-icon aria-hidden="true">history</mat-icon>
        <p>{{emptyMessage}}</p>
      </div>
    </ng-template>
  </div>

  <div class="card-actions" *ngIf="viewAllLink && activities && activities.length > 0">
    <a [routerLink]="viewAllLink" class="btn-primary view-all-button" [attr.aria-label]="viewAllLabel + ' - Ver todas las actividades'">
      {{viewAllLabel}}
      <mat-icon aria-hidden="true">arrow_forward</mat-icon>
    </a>
  </div>
</div>
