<div class="concursos-container">
    <app-concursos-header
        (filtrar)="toggleFiltrosPanel()"
        (buscar)="realizarBusqueda($event)">
    </app-concursos-header>

    <div *ngIf="concursosFiltrados.length === 0" 
         class="no-resultados"
         [@fadeSlide]>
        <i class="fas fa-search"></i>
        <p>No se encontraron concursos que coincidan con "{{terminoBusqueda}}"</p>
        <button mat-button color="primary" (click)="limpiarBusqueda()">
            Limpiar búsqueda
        </button>
    </div>

    <div class="categorias-grid" 
         *ngIf="concursosFiltrados.length > 0"
         [@listAnimation]="categorias.length">
        <app-concursos-categoria 
            *ngFor="let categoria of categorias"
            [categoria]="categoria"
            [concursos]="getConcursosPorCategoria(categoria)">
        </app-concursos-categoria>
    </div>

    <app-filtros-panel
        *ngIf="mostrarFiltros"
        (filtrosChange)="aplicarFiltros($event)"
        (cerrarPanel)="toggleFiltrosPanel()"
        [@slideInOut]>
    </app-filtros-panel>

    <div 
        class="backdrop" 
        *ngIf="mostrarFiltros" 
        (click)="toggleFiltrosPanel()"
        [@fadeInOut]>
    </div>
</div>