<div class="wrapper">
  <div class="cols">
    <div class="login-box" [class.flipped]="isFlipped" (click)="onCardClick()">
      <div class="front">
        <img src="/icons/favicon.png" alt="Logo Defensa" class="logo-defensa">
        <h2>Bienvenido</h2>
        <p>Inicie sesión para continuar</p>
      </div>
      
      <div class="back">
        <p>Iniciar Sesión</p>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="user-box">
            <input matInput type="text" class="login-input" formControlName="username" placeholder=" " required>
            <label>Username</label>
            <mat-error *ngIf="loginForm.get('username')?.touched && loginForm.get('username')?.errors?.['required']">
              El username es requerido
            </mat-error>
            <mat-error *ngIf="loginForm.get('username')?.touched && loginForm.get('username')?.errors?.['minlength']">
              El email debe tener al menos 3 caracteres
            </mat-error>
          </div>
          <div class="user-box">
            <input matInput type="password" class="login-input" formControlName="password" placeholder=" " required>
            <label>Password</label>
            <mat-error *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.errors?.['required']">
              La contraseña es requerida
            </mat-error>
            <mat-error *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.errors?.['minlength']">
              La contraseña debe tener al menos 6 caracteres
            </mat-error>
          </div>
          <button type="submit" [disabled]="!loginForm.valid" class="submit-button">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Ingresar
          </button>
        </form>
        <div class="error-message" *ngIf="loginError">
          {{ loginError }}
        </div>
        <p>¿No tienes una cuenta? <button class="a2" (click)="goToRegister()">Registrarse</button></p>
      </div>
    </div>
  </div>
</div>