@use 'variables' as *;

.container {
    display: flex;
    min-height: calc(100vh - 92px); /* Altura total menos la del header */
    height: calc(100vh - 92px);
    max-width: 99vw; 
}

app-sidebar {
    width: calc(61.8% * 0.382); 
    height: 100%; /* Asegura que el sidebar ocupe toda la altura del contenedor */
    overflow-y: auto; 
    
}

app-main {
    max-height: 100%;
    width: 100%;
}