<ng-container *ngIf="inscripcionState$ | async as estado">
    <button 
        mat-flat-button
        color="primary"
        class="inscripcion-button"
        [class.loading]="loading"
        [class.inscripto]="estado === InscripcionState.CONFIRMADA"
        [disabled]="loading || estado === InscripcionState.CONFIRMADA"
        (click)="onInscribirse()">
        <ng-container *ngIf="!loading && estado !== InscripcionState.CONFIRMADA">
            <i class="fas fa-user-plus"></i>
            <span>Inscribirse</span>
        </ng-container>
        
        <ng-container *ngIf="loading">
            <mat-spinner diameter="20"></mat-spinner>
            <span>Inscribiendo...</span>
        </ng-container>
        
        <ng-container *ngIf="estado === InscripcionState.CONFIRMADA">
            <i class="fas fa-check"></i>
            <span>Inscripto</span>
        </ng-container>
    </button>
</ng-container>
