<mat-card class="widget-card" [routerLink]="widget.route">
  <mat-card-content>
    <div class="widget-header">
      <div class="widget-icon" [style.background-color]="widget.color + '15'">
        <mat-icon [style.color]="widget.color">{{widget.icon}}</mat-icon>
      </div>
      <div class="widget-count" [style.color]="widget.color">{{widget.count | number}}</div>
    </div>
    <div class="widget-content">
      <h3 class="widget-title">{{widget.title}}</h3>
      <p class="widget-description">{{widget.description}}</p>
    </div>
    <div class="widget-footer">
      <span class="widget-action">Ver ahora</span>
      <mat-icon>arrow_forward</mat-icon>
    </div>
  </mat-card-content>
</mat-card>
