<div class="register-box">
  <p>Registro de Usuario</p>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="user-box">
      <input matInput formControlName="nombre" placeholder=" " required>
      <label>Nombre</label>
      <mat-error *ngIf="registerForm.get('nombre')?.touched && registerForm.get('nombre')?.errors?.['required']">
        El nombre es requerido
      </mat-error>
    </div>
    <div class="user-box">
      <input matInput formControlName="apellido" placeholder=" " required>
      <label>Apellido</label>
      <mat-error *ngIf="registerForm.get('apellido')?.touched && registerForm.get('apellido')?.errors?.['required']">
        El apellido es requerido
      </mat-error>
    </div>
    <div class="user-box">
      <input matInput formControlName="cuit" placeholder=" " required (input)="formatCuit($event)" maxlength="13">
      <label>CUIT</label>
      <mat-error *ngIf="registerForm.get('cuit')?.touched && registerForm.get('cuit')?.errors?.['required']">
        El CUIT es requerido
      </mat-error>
      <mat-error *ngIf="registerForm.get('cuit')?.touched && registerForm.get('cuit')?.errors?.['pattern']">
        El CUIT debe tener 11 dígitos
      </mat-error>
    </div>
    <div class="user-box">
      <input matInput formControlName="username" placeholder=" " required>
      <label>Username</label>
      <mat-error *ngIf="registerForm.get('username')?.touched && registerForm.get('username')?.errors?.['required']">
        El username es requerido
      </mat-error>
      <mat-error *ngIf="registerForm.get('username')?.touched && registerForm.get('username')?.errors?.['minlength']">
        El username debe tener al menos 4 caracteres
      </mat-error>
    </div>
    <div class="user-box">
      <input matInput type="email" formControlName="email" placeholder=" " required>
      <label>Email</label>
      <mat-error *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.errors?.['required']">
        El email es requerido
      </mat-error>
      <mat-error *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.errors?.['email']">
        Por favor ingrese un email válido
      </mat-error>
    </div>
    <div class="user-box">
      <input matInput type="password" formControlName="password" placeholder=" " required>
      <label>Contraseña</label>
      <mat-error *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.errors?.['required']">
        La contraseña es requerida
      </mat-error>
      <mat-error *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.errors?.['minlength']">
        La contraseña debe tener al menos 6 caracteres
      </mat-error>
    </div>
    <div class="user-box">
      <input matInput type="password" formControlName="confirmPassword" placeholder=" " required>
      <label>Confirmar Contraseña</label>
      <mat-error *ngIf="registerForm.get('confirmPassword')?.touched && registerForm.get('confirmPassword')?.errors?.['required']">
        Debe confirmar la contraseña
      </mat-error>
      <mat-error *ngIf="registerForm.errors?.['mismatch']">
        Las contraseñas no coinciden
      </mat-error>
    </div>
    <label class="flex cursor-pointer items-center justify-between p-1 text-slate-400">
      Acepta los términos de uso
      <div class="relative inline-block">
        <input class="peer h-6 w-12 cursor-pointer appearance-none rounded-full border border-gray-300 bg-gary-400 checked:border-green-300 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-gray-900 focus-visible:ring-offset-2" type="checkbox">
        <span class="pointer-events-none absolute left-1 top-1 block h-4 w-4 rounded-full bg-slate-600 transition-all duration-200 peer-checked:left-7 peer-checked:bg-green-300"></span>
      </div>
    </label>
    <button type="submit" [disabled]="!registerForm.valid" class="submit-button">
      Registrarse
    </button>
  </form>
  <p>¿Ya tienes una cuenta? <button class="a2" (click)="goToLogin()">Iniciar Sesión</button></p>
</div>